USE [master]
GO
/****** Object:  Database [DWH_SEWIK_METEO]    Script Date: 07.06.2026 17:14:18 ******/
CREATE DATABASE [DWH_SEWIK_METEO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWH_SEWIK_METEO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DWH_SEWIK_METEO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DWH_SEWIK_METEO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DWH_SEWIK_METEO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DWH_SEWIK_METEO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DWH_SEWIK_METEO]
GO
/****** Object:  Table [dbo].[DIM_Czas]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Czas](
	[id_czas] [int] NOT NULL,
	[godzina] [smallint] NOT NULL,
	[czy_godzina_szczytu] [nvarchar](3) NOT NULL,
	[pora_dnia] [nchar](10) NOT NULL,
	[pora_dnia_nr] [int] NOT NULL,
	[czy_noc] [nvarchar](3) NULL,
	[godzina_etykieta] [nvarchar](10) NULL,
 CONSTRAINT [PK_DIM_Czas] PRIMARY KEY CLUSTERED 
(
	[id_czas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Data]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Data](
	[id_data] [bigint] NOT NULL,
	[dzien] [nvarchar](20) NOT NULL,
	[miesiac] [nvarchar](20) NOT NULL,
	[rok] [nvarchar](10) NOT NULL,
	[czy_swieto] [nvarchar](3) NOT NULL,
	[święto_nazwa] [nvarchar](100) NOT NULL,
	[kwartal] [nchar](10) NOT NULL,
	[data] [date] NOT NULL,
	[dzien_tygodnia] [nvarchar](10) NOT NULL,
	[czy_weekend] [bit] NOT NULL,
	[miesiac_nr] [int] NOT NULL,
	[dzien_tygodnia_nr] [int] NOT NULL,
	[kwartal_nr] [int] NOT NULL,
	[rok_miesiac] [nvarchar](10) NOT NULL,
	[tydzien_w_roku] [int] NOT NULL,
 CONSTRAINT [PK_DIM_Data] PRIMARY KEY CLUSTERED 
(
	[id_data] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Droga_Info]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Droga_Info](
	[id_droga_info] [bigint] IDENTITY(1,1) NOT NULL,
	[predkosc_dopuszczalna] [smallint] NULL,
	[liczba_pasow] [smallint] NULL,
	[odleglosc_skrzyzowania] [int] NULL,
	[status_prawny_drogi] [nvarchar](20) NULL,
	[typ_drogi_kod] [nvarchar](10) NULL,
	[typ_drogi] [nvarchar](50) NULL,
	[geometria_drogi_kod] [nvarchar](10) NULL,
	[geometria_drogi] [nvarchar](50) NULL,
	[charakter_miejsca_kod] [nvarchar](10) NULL,
	[charakter_miejsca] [nvarchar](100) NULL,
	[obszar_zabudowany_kod] [nvarchar](10) NULL,
	[obszar_zabudowany] [nvarchar](30) NULL,
	[oznakowanie_poziome] [nvarchar](30) NULL,
	[nawierzchnia_kod] [nvarchar](10) NULL,
	[nawierzchnia] [nvarchar](30) NULL,
	[stan_nawierzchni_kod] [nvarchar](10) NULL,
	[stan_nawierzchni] [nvarchar](50) NULL,
	[oswietlenie_kod] [nvarchar](10) NULL,
	[oswietlenie] [nvarchar](40) NULL,
	[rodzaj_zdarzenia_kod] [nvarchar](10) NULL,
	[rodzaj_zdarzenia] [nvarchar](100) NULL,
	[typ_skrzyzowania_kod] [nvarchar](10) NULL,
	[typ_skrzyzowania] [nvarchar](50) NULL,
	[strefa_zamieszkania] [nvarchar](3) NULL,
	[strefa_ruchu] [nvarchar](3) NULL,
 CONSTRAINT [PK_DIM_DrogaInfo] PRIMARY KEY CLUSTERED 
(
	[id_droga_info] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Jednostki]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Jednostki](
	[jednostka_terytorialna] [nvarchar](100) NULL,
	[jednostka_obslugujaca] [nvarchar](100) NULL,
	[jednostka_operatora] [nvarchar](100) NULL,
	[id_jednostki] [bigint] NOT NULL,
 CONSTRAINT [PK_DIM_Jednostki] PRIMARY KEY CLUSTERED 
(
	[id_jednostki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Lokalizacja]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Lokalizacja](
	[gps_szerokość] [decimal](12, 8) NOT NULL,
	[gps_długość] [decimal](12, 8) NOT NULL,
	[id_lokalizacja] [bigint] NOT NULL,
	[kod_terytorialny_gus] [nvarchar](20) NOT NULL,
	[ulica] [nvarchar](200) NOT NULL,
	[numer_domu] [nvarchar](200) NOT NULL,
	[powiat] [nvarchar](200) NOT NULL,
	[gmina] [nvarchar](200) NOT NULL,
	[miejscowość] [nvarchar](200) NOT NULL,
	[wojewodztwo] [nvarchar](100) NOT NULL,
	[ulica_skrzyzowania] [nvarchar](200) NOT NULL,
	[pikietaz] [nvarchar](20) NULL,
	[id_siatka] [int] NOT NULL,
 CONSTRAINT [PK_DIM_Lokalizacja] PRIMARY KEY CLUSTERED 
(
	[id_lokalizacja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Pojazd]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Pojazd](
	[id_zdarzenia_zrodlo] [int] NOT NULL,
	[id_pojazd] [bigint] NOT NULL,
	[rodzaj_pojazdu] [nvarchar](10) NULL,
	[stan_techniczny_pojazdu] [nvarchar](10) NULL,
	[stan_techniczny_kod] [nvarchar](50) NULL,
	[data_ostatniego_badania_technicznego] [datetime] NULL,
	[marka] [nvarchar](100) NULL,
	[rok_produkcji] [int] NULL,
	[numer_pojazdu_w_zdarzeniu] [smallint] NULL,
	[wyposazenie_dodatkowe] [nvarchar](200) NULL,
	[id_pojazd_zrodlo] [bigint] NULL,
 CONSTRAINT [PK_DIM_Pojazd] PRIMARY KEY CLUSTERED 
(
	[id_pojazd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Populacja]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Populacja](
	[id_populacja] [int] NOT NULL,
	[kod_terytorialny_gus] [nvarchar](20) NOT NULL,
	[powiat] [nvarchar](200) NOT NULL,
	[gmina] [nvarchar](200) NOT NULL,
	[wojewodztwo] [nvarchar](100) NOT NULL,
	[ludnosc] [int] NOT NULL,
	[gestosc_km] [decimal](8, 1) NULL,
	[data_od] [date] NOT NULL,
	[data_do] [date] NULL,
	[czy_aktywny] [bit] NOT NULL,
	[data_wczytania] [datetime] NOT NULL,
 CONSTRAINT [PK_DIM_Populacja] PRIMARY KEY CLUSTERED 
(
	[id_populacja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Postepowanie_Uczestnika]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Postepowanie_Uczestnika](
	[zbiegl_z_miejsca] [nvarchar](3) NULL,
	[rozstrzygniecie] [nchar](200) NULL,
	[rozstrzygniecie_kod] [nchar](10) NULL,
	[przyczyna_kierowcy] [nchar](200) NULL,
	[przyczyna_kierowcy_kod] [nchar](10) NULL,
	[przyczyna_pieszego] [nchar](200) NULL,
	[przyczyna_pieszego_kod] [nchar](10) NULL,
	[jazda_bez_uprawnien] [nchar](200) NULL,
	[jazda_bez_uprawnien_kod] [nchar](10) NULL,
	[id_postepowania] [bigint] NOT NULL,
 CONSTRAINT [PK_DIM_Postepowanie_Uczestnika] PRIMARY KEY CLUSTERED 
(
	[id_postepowania] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Siatka_Pogodowa]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Siatka_Pogodowa](
	[id_siatka] [int] NOT NULL,
	[długość_geograficzna] [decimal](8, 4) NOT NULL,
	[szerokość_geograficzna] [decimal](8, 4) NOT NULL,
	[model_pogody] [nvarchar](50) NOT NULL,
	[rozdzielczość] [smallint] NOT NULL,
 CONSTRAINT [PK_DIM_Siatka_Pogodowa] PRIMARY KEY CLUSTERED 
(
	[id_siatka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Stan_Uczestnika]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Stan_Uczestnika](
	[id_opis_stanu] [bigint] NOT NULL,
	[rola_uczestnika] [nvarchar](200) NULL,
	[stopien_obrazen] [nvarchar](200) NULL,
	[rola_uczestnika_kod] [nvarchar](10) NULL,
	[stopien_obrazen_kod] [nvarchar](10) NULL,
	[miejsce_w_pojezdzie] [nvarchar](200) NULL,
	[obcokrajowiec] [nvarchar](3) NULL,
	[odblaski] [nvarchar](3) NULL,
	[inwalida] [nvarchar](3) NULL,
	[pod_wplywem_substancji] [nchar](200) NULL,
	[pod_wplywem_substancji_kod] [nchar](10) NULL,
	[stan_trzezwosci] [nchar](200) NULL,
	[stan_trzezwosci_slownik] [nchar](10) NULL,
 CONSTRAINT [PK_DIM_Stan_Uczestnika] PRIMARY KEY CLUSTERED 
(
	[id_opis_stanu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAKT_Pogoda]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAKT_Pogoda](
	[id_pogoda] [bigint] NOT NULL,
	[id_data] [bigint] NOT NULL,
	[id_czas] [int] NOT NULL,
	[id_siatka] [int] NOT NULL,
	[temperatura_c] [decimal](5, 2) NOT NULL,
	[opady_mm] [decimal](6, 2) NOT NULL,
	[predkosc_wiatru_kmh] [decimal](5, 1) NOT NULL,
	[kierunek_wiatru_stopnie] [smallint] NOT NULL,
	[zachmurzenie_procent] [smallint] NOT NULL,
	[widocznosc_km] [decimal](5, 1) NOT NULL,
	[cisnienie_hpa] [decimal](7, 2) NOT NULL,
	[wilgotnosc_procent] [smallint] NOT NULL,
 CONSTRAINT [PK_FAKT_Pogoda] PRIMARY KEY CLUSTERED 
(
	[id_pogoda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAKT_Uczestnik]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAKT_Uczestnik](
	[id_uczestnika_zrodlo] [int] NOT NULL,
	[id_zdarzenia_zrodlo] [int] NOT NULL,
	[id_uczestnika] [int] NOT NULL,
	[data_urodzenia] [date] NULL,
	[staz_kierowania_lata] [smallint] NULL,
	[id_pojazd] [bigint] NULL,
	[id_czas_uczestnictwa] [int] NOT NULL,
	[id_loalizacja_uczestnictwa] [bigint] NOT NULL,
	[id_data_uczestnictwa] [bigint] NOT NULL,
	[poziom_alkoholu] [decimal](5, 2) NULL,
	[id_opis_stanu] [bigint] NOT NULL,
	[id_postepowania] [bigint] NOT NULL,
 CONSTRAINT [PK_FAKT_Uczestnik] PRIMARY KEY CLUSTERED 
(
	[id_uczestnika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAKT_Zdarzenie]    Script Date: 07.06.2026 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAKT_Zdarzenie](
	[id_zdarzenia] [int] NOT NULL,
	[nr_karty_wypadku] [nvarchar](50) NOT NULL,
	[id_lokalizacja] [bigint] NOT NULL,
	[id_droga_info] [bigint] NOT NULL,
	[id_jednostki] [bigint] NOT NULL,
	[id_data] [bigint] NOT NULL,
	[id_czas] [int] NOT NULL,
	[data_godzina] [datetime] NOT NULL,
	[data_zgloszenia] [datetime] NOT NULL,
	[data_przyjazdu] [datetime] NOT NULL,
	[czas_dojazdu_min] [int] NOT NULL,
 CONSTRAINT [PK_stg_zdarzenie] PRIMARY KEY CLUSTERED 
(
	[id_zdarzenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIM_Lokalizacja]  WITH CHECK ADD  CONSTRAINT [FK_DIM_Lokalizacja_DIM_Siatka_Pogodowa] FOREIGN KEY([id_siatka])
REFERENCES [dbo].[DIM_Siatka_Pogodowa] ([id_siatka])
GO
ALTER TABLE [dbo].[DIM_Lokalizacja] CHECK CONSTRAINT [FK_DIM_Lokalizacja_DIM_Siatka_Pogodowa]
GO
ALTER TABLE [dbo].[FAKT_Pogoda]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Pogoda_DIM_Czas] FOREIGN KEY([id_czas])
REFERENCES [dbo].[DIM_Czas] ([id_czas])
GO
ALTER TABLE [dbo].[FAKT_Pogoda] CHECK CONSTRAINT [FK_FAKT_Pogoda_DIM_Czas]
GO
ALTER TABLE [dbo].[FAKT_Pogoda]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Pogoda_DIM_Data] FOREIGN KEY([id_data])
REFERENCES [dbo].[DIM_Data] ([id_data])
GO
ALTER TABLE [dbo].[FAKT_Pogoda] CHECK CONSTRAINT [FK_FAKT_Pogoda_DIM_Data]
GO
ALTER TABLE [dbo].[FAKT_Pogoda]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Pogoda_DIM_Siatka_Pogodowa] FOREIGN KEY([id_siatka])
REFERENCES [dbo].[DIM_Siatka_Pogodowa] ([id_siatka])
GO
ALTER TABLE [dbo].[FAKT_Pogoda] CHECK CONSTRAINT [FK_FAKT_Pogoda_DIM_Siatka_Pogodowa]
GO
ALTER TABLE [dbo].[FAKT_Uczestnik]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Uczestnik_DIM_Czas] FOREIGN KEY([id_czas_uczestnictwa])
REFERENCES [dbo].[DIM_Czas] ([id_czas])
GO
ALTER TABLE [dbo].[FAKT_Uczestnik] CHECK CONSTRAINT [FK_FAKT_Uczestnik_DIM_Czas]
GO
ALTER TABLE [dbo].[FAKT_Uczestnik]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Uczestnik_DIM_Data] FOREIGN KEY([id_data_uczestnictwa])
REFERENCES [dbo].[DIM_Data] ([id_data])
GO
ALTER TABLE [dbo].[FAKT_Uczestnik] CHECK CONSTRAINT [FK_FAKT_Uczestnik_DIM_Data]
GO
ALTER TABLE [dbo].[FAKT_Uczestnik]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Uczestnik_DIM_Lokalizacja] FOREIGN KEY([id_loalizacja_uczestnictwa])
REFERENCES [dbo].[DIM_Lokalizacja] ([id_lokalizacja])
GO
ALTER TABLE [dbo].[FAKT_Uczestnik] CHECK CONSTRAINT [FK_FAKT_Uczestnik_DIM_Lokalizacja]
GO
ALTER TABLE [dbo].[FAKT_Uczestnik]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Uczestnik_DIM_Pojazd] FOREIGN KEY([id_pojazd])
REFERENCES [dbo].[DIM_Pojazd] ([id_pojazd])
GO
ALTER TABLE [dbo].[FAKT_Uczestnik] CHECK CONSTRAINT [FK_FAKT_Uczestnik_DIM_Pojazd]
GO
ALTER TABLE [dbo].[FAKT_Uczestnik]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Uczestnik_DIM_Postepowanie_Uczestnika] FOREIGN KEY([id_postepowania])
REFERENCES [dbo].[DIM_Postepowanie_Uczestnika] ([id_postepowania])
GO
ALTER TABLE [dbo].[FAKT_Uczestnik] CHECK CONSTRAINT [FK_FAKT_Uczestnik_DIM_Postepowanie_Uczestnika]
GO
ALTER TABLE [dbo].[FAKT_Uczestnik]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Uczestnik_DIM_Stan_Uczestnika] FOREIGN KEY([id_opis_stanu])
REFERENCES [dbo].[DIM_Stan_Uczestnika] ([id_opis_stanu])
GO
ALTER TABLE [dbo].[FAKT_Uczestnik] CHECK CONSTRAINT [FK_FAKT_Uczestnik_DIM_Stan_Uczestnika]
GO
ALTER TABLE [dbo].[FAKT_Zdarzenie]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Zdarzenie_DIM_Czas] FOREIGN KEY([id_czas])
REFERENCES [dbo].[DIM_Czas] ([id_czas])
GO
ALTER TABLE [dbo].[FAKT_Zdarzenie] CHECK CONSTRAINT [FK_FAKT_Zdarzenie_DIM_Czas]
GO
ALTER TABLE [dbo].[FAKT_Zdarzenie]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Zdarzenie_DIM_Data] FOREIGN KEY([id_data])
REFERENCES [dbo].[DIM_Data] ([id_data])
GO
ALTER TABLE [dbo].[FAKT_Zdarzenie] CHECK CONSTRAINT [FK_FAKT_Zdarzenie_DIM_Data]
GO
ALTER TABLE [dbo].[FAKT_Zdarzenie]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Zdarzenie_DIM_DrogaInfo] FOREIGN KEY([id_droga_info])
REFERENCES [dbo].[DIM_Droga_Info] ([id_droga_info])
GO
ALTER TABLE [dbo].[FAKT_Zdarzenie] CHECK CONSTRAINT [FK_FAKT_Zdarzenie_DIM_DrogaInfo]
GO
ALTER TABLE [dbo].[FAKT_Zdarzenie]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Zdarzenie_DIM_Jednostki] FOREIGN KEY([id_jednostki])
REFERENCES [dbo].[DIM_Jednostki] ([id_jednostki])
GO
ALTER TABLE [dbo].[FAKT_Zdarzenie] CHECK CONSTRAINT [FK_FAKT_Zdarzenie_DIM_Jednostki]
GO
ALTER TABLE [dbo].[FAKT_Zdarzenie]  WITH CHECK ADD  CONSTRAINT [FK_FAKT_Zdarzenie_DIM_Lokalizacja] FOREIGN KEY([id_lokalizacja])
REFERENCES [dbo].[DIM_Lokalizacja] ([id_lokalizacja])
GO
ALTER TABLE [dbo].[FAKT_Zdarzenie] CHECK CONSTRAINT [FK_FAKT_Zdarzenie_DIM_Lokalizacja]
GO
USE [master]
GO
